@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  margin: 0;
  padding: 0;
}

#header {
  height: 100vh;
  background: url(images/barcelona.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-title,
#header-subtitle {
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
}

#header-title {
  background-color: #0137a2;
}

#header-subtitle {
  background-color: #1798de;
}

#activities-title {
  margin: 0;
  background-color: #92cdec;
  padding: 40px 0;
  color: #1a2f57;
}

#activities {
  display: flex;
  justify-content: space-evenly;
  background-color: #92cdec;
  width: 100%;
  padding-bottom: 50px;
  flex-wrap: wrap;
  color: #0e1a2f;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  transition: 0.7s ease-out;
}

.card img {
  border-radius: 50%;
}

.card:hover {
  background-color: #75bfe7;
  transform: scale(1.1);
  transition: 0.7s ease;
  border-radius: 10px;
}

#footer {
  background-color: #0137a2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 400px;
  color: white;
}

#footer img {
  width: 300px;
  border-radius: 50%;
}

#guide-container {
  padding: 20px;
}
